nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: RGB(10, 9, 8);
  color: white;
  align-items: center;
  border-bottom: 1px solid gold;
  ul {
    display: flex;
    gap: 15px;
    font-family: "NTR", sans-serif;
  }
  h2 {
    font-family: "Amaranth", sans-serif;
    font-weight: 400;
  }
}
