.intohead {
  background-color: RGB(26, 26, 26);
  padding: 15px;
  display: flex;
  flex-direction: column;
  .intostart {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    gap: 20px;
    padding: 20px;
  }
  .intoinfo {
    font-family: "PT Sans Narrow", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h4 {
      color: white;
    }
    .intogray {
      color: burlywood;
    }
    .intobold {
      color: gray;
    }
  }
  .intoinp {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 300px;

    .intonorm {
      padding: 10px;
      margin: 20px;
    }
    input {
      background-color: RGB(51, 51, 51);
      border-radius: 8px;
      border: none;
      box-sizing: border-box;
      width: 100%;
      font-family: "Dosis", sans-serif;
      color: white;
    }
    .intoaut {
      padding: 40px;
      margin: 20px;
    }
  }
}
